@import '@/styles/base.scss';

body {
  color: $color-base;
  font-size: $fontsize-base;
  background: $background-color;
  input {
    font-size: $fontsize-base;
  }
}

.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.flex-center {
  justify-content: center;
}
.flex-v-center {
  align-items: center;
}
.nowrap {
  flex-wrap: nowrap;
}
.flex-column {
  flex-direction: column;
}

/** 文字处理 **/
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

.color-base {
  color: $color-base;
}
.color-gray {
  color: $color-grey;
}
.font-nowrap {
  white-space: nowrap;
}

.inline-block {
  display: inline-block;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

.modal-over {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.border-box {
  box-sizing: border-box;
}

.img-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

// for 循环
@for $i from 1 through 100 {
  .w-#{2 * $i} {
    width: $i * 2px;
  }
  .h-#{2 * $i} {
    height: $i * 2px;
  }
  .l-h-#{2 * $i} {
    line-height: $i * 2px;
  }

  .m-#{2 * $i} {
    margin: $i * 2px;
  }
  .m-t-#{2 * $i} {
    margin-top: $i * 2px;
  }
  .m-l-#{2 * $i} {
    margin-left: $i * 2px;
  }
  .m-b-#{2 * $i} {
    margin-bottom: $i * 2px;
  }
  .m-r-#{2 * $i} {
    margin-right: $i * 2px;
  }

  .p-#{2 * $i} {
    padding: $i * 2px;
  }
  .p-t-#{2 * $i} {
    padding-top: $i * 2px;
  }
  .p-l-#{2 * $i} {
    padding-left: $i * 2px;
  }
  .p-b-#{2 * $i} {
    padding-bottom: $i * 2px;
  }
  .p-r-#{2 * $i} {
    padding-right: $i * 2px;
  }

  .font-#{2 * $i} {
    font-size: $i * 2px;
  }
}

// list 的遍历
$colorList: red, orange, yellow, green, aqua, blue, purple, indigo, violet, white;

@each $color in $colorList {
  .color-#{$color} {
    color: $color;
  }
  .bg-#{$color} {
    background-color: $color;
  }
}

// map 的遍历
$fontWeights: (
  'nomal': 400,
  'medium': 500,
  'bold': 700,
);

@each $key, $value in $fontWeights {
  .font-weight-#{$key} {
    font-weight: $value;
  }
}
